@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

body {
  padding: 0;
  margin: 0;
  background-color: cornflowerblue;
  text-align: center;
}

.top {
  background-image: url("http://i1.wp.com/niklasgoeke.com/wp-content/uploads/2015/07/late-night-screen.jpg");
  height:400px;
  background-position: left center;
}

h1 {
  color: #FFF;
  font-family: 'Ruda', sans-serif;
  font-size: 70px;
  font-weight: 900;
  margin: 0;
  padding-top: 120px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #FFF;
  font-family: 'Catamaran', sans-serif;
  margin: 0;
  text-align: left;
}

h3 {
  color: #D7263D;
  font-family: 'Ruda', sans-serif;
  font-size: 32px;
  margin: 0;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

p {
  color: rgba(255, 255, 255, 0.75);
  font-family: 'Pontano Sans', sans-serif;
  margin: 0;
  text-align: left;
}

.imager{
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 100px;
}

.hotel {
  margin: 60px auto;
  padding: 10px 0px 0px 0px;
  width: 90%;
  border-style: solid;
  border-width: 4px 2px 4px 2px;
  border-top-width: 5px;
  border-color: #AF3432;
  border: 2px solid #FFF;
  border-radius: 10px;
}

.hotel-img {
  display: inline-block;
  margin-top: 20px;
}

.hotel-description {
  display: inline-block;
  width: 70%;
}

.book {
  margin-top: 30px;
  width: 100%;
  text-align: center;
  position: relative;
}

.book a {
  background-color: #D7263D;
  color: #FFF;
  display: inline-block;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  
  padding: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.hax{
  background-image: url("http://www.jcportuese.com/wp-content/uploads/2013/09/8854-228.5838StitchA-980x560.jpg");
  height: 400px;
  
}

ul {
  padding: 0;
  margin: 10px 0px;
}

li {
  margin: 0;
  list-style: none;
}

.btn {
  //webkit
}
